//variables
$primary-color: #ff4d4d;
$secondary-color: #333;
$background-color: #f5f5f5;
$background-card: #d9e6de;
$text-color: #333;
$light-color: white;
$font-family: "Arial", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family;
}

body {
	//background-color: $background-color;
	color: $text-color;
	.container {
		width: 100%;
		margin: 0 auto;
	}
}

header {
	background-color: $primary-color;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1em;
	padding-top: 0.3rem;
	padding-left: max(1.25rem, 50% - 37.5rem); //fórmula que empleo a diario en mi trabajo para calcular un padding lateral mínimo de 20px para un contenedor de 1200px
	padding-right: max(1.25rem, 50% - 37.5rem);

	.usuario-idioma {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 2rem;

		@media (width < 600px) {
			flex-direction: column-reverse;
			gap: 0.4rem;
		}

		form {
			align-content: center;
			input[type="text"],
			input[type="password"],
			button {
				width: 9rem;
				height: 1.5rem;
				padding-left: 0.625rem; // 10px son 0.625rem
				border: 0.0625rem solid #a53333; // 1px es 0.0625rem
				border-radius: 0.5rem;
				color: black;
			}
			button {
				width: 5rem;
				height: 1.6rem;
				background-color: black;
				color: white;

				&:hover {
					cursor: pointer;
				}
			}
		}
		.idiomas {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			gap: 0.3125rem;
			img {
				width: 1.5rem;
			}
		}
	}

	.logo {
		display: flex;
		justify-content: center;
		margin-right: 1.875rem;

		a img {
			width: 18.75rem;
		}
	}

	nav {
		//padding-top: 0.9375rem;
		//padding-bottom: 0.9375rem;
		display: flex;
		justify-content: center;

		.menu-item {
			float: left;
			margin-right: 1.25rem;
			height: 2rem;
			color: $light-color;
			font-weight: 700;
			align-content: center;

			a {
				color: $light-color;
				text-decoration: none;
				font-weight: 700;
				font-size: 1rem;
				padding: 0.5rem 0.625rem;
				transition: all 0.3s ease;

				&:hover {
					background-color: $light-color;
					color: $primary-color;
				}
			}
			.menu-contacto {
				display: none;
				position: absolute;
				width: 150px;
				margin-top: 0.3rem;
				left: 0;
				background-color: $primary-color;
				color: white;

				.sub-menu-item a {
					color: white;
					line-height: 2rem;

					&:hover {
						width: 100%;
						color: $primary-color;
					}
				}
			}

			&.contacto {
				position: relative;

				&:hover {
					.menu-contacto {
						display: block; // O block, y si usas flex puedes mantener flex-direction: column
					}
				}
			}
		}
	}
}

footer {
	background-color: $secondary-color;
	color: $light-color;
	text-align: center;
	padding: 1.25rem;
}
